<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACCESS DENIED</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="terminal">
        <h1>>_ ACCESS DENIED</h1>
        <p>403 - You are not authorized to view the secret coffee recipes.</p>
        <a href="/">[ Return to Coffee Shop ]</a>

<!-- Hey admin you secret_key is = 7sws7Djuaydh2EbwfGw7nf8c8tYzXPygQD6QstkaGUe3 -->
    </div>
</body>
</html>
